@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  bottom: 0;
  outline: 0;
  list-style-type: none;
}

button:focus {
  outline: none;
}

h2 {
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
}

.wrapper {
  max-width: 1920px;
  font-family: "Roboto", sans-serif;
  color: #3B3939;
  line-height: 140%;
  margin: auto;
}

.center {
  max-width: 1365px;
  margin: auto;
}

.container-one {
  background: linear-gradient(to right, white 47%, #627481 47%, #627481 100%);
}

.container-one__navigation {
  margin-left: 107px;
}

#menuToggle {
  display: none;
  position: relative;
  z-index: 80;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  display: none;
  position: absolute;
  width: 275px;
  margin: 0 0 -816% -749%;
  padding: 25px;
  padding-top: 45px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  opacity: 0.75;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  -moz-webkit-backdrop-filter: blur(25px);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  display: block;
}

.container-one__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-top: 22px;
  padding-bottom: 35px;
}

.container-one__link {
  text-decoration: none;
  margin-right: 30px;
  transition: 0.5s;
  line-height: 140%;
  padding-bottom: 4px;
}

.black-link {
  color: #3B3939;
}

.black-link:hover, .black-link:focus {
  font-weight: bold;
  color: #6D6253;
  border-bottom: 1px solid #6D6253;
  text-decoration: none;
}

.white-link {
  color: #fff;
}

.white-link:hover, .white-link:focus {
  font-weight: bold;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

.container-one__call-back {
  width: 180px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 250px;
  font-size: 14px;
  color: #fff;
  background: none;
  transition: 0.5s;
}

.container-one__call-back_white-phone {
  margin-right: 9px;
}

.container-one__call-back:hover, .container-one__call-back:focus {
  background-color: #FF5C4E;
  color: #fff;
  border: none;
}

.container-one__intro .courusel {
  display: flex;
  position: relative;
  z-index: 1;
}
.container-one__intro .courusel button {
  color: #fff;
}
.container-one__intro .courusel button:hover, .container-one__intro .courusel button:focus {
  background: none;
}
.container-one__intro .vertical-slider {
  width: 70%;
  z-index: 1;
  margin-right: 50px;
}
.container-one__intro .horisontal-slider {
  position: relative;
}
.container-one__intro .horisontal-slider div {
  height: 925px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-one__intro .horisontal-slider .img1 {
  background-image: url(../img/png/amur-intro1.png);
}
.container-one__intro .horisontal-slider .img2 {
  background-image: url(../img/png/amur-intro2.png);
}
.container-one__intro .horisontal-slider .img3 {
  background-image: url(../img/png/amur-intro3.png);
}
.container-one__intro .horisontal-slider .img4 {
  background-image: url(../img/png/amur-intro-4.png);
}
.container-one__intro .horisontal-slider .owl-dots {
  height: 118px;
  background: rgba(255, 255, 255, 0.44);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  position: absolute;
  width: 60%;
  padding-left: 17%;
}
.container-one__intro .horisontal-slider .owl-dots button {
  margin-top: 9%;
  position: relative;
  border: none;
  box-shadow: none;
  height: 2px;
  width: 35px;
  border-radius: 0px;
  background-color: rgba(61, 61, 61, 0.5);
}
.container-one__intro .horisontal-slider .owl-dots button span {
  display: none;
}
.container-one__intro .horisontal-slider .owl-dots button:first-child::before {
  position: absolute;
  content: "01 сентября 2020";
  color: #453E34;
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
  left: -150px;
  top: -10px;
}
.container-one__intro .horisontal-slider .owl-dots button:last-child::after {
  position: absolute;
  content: "20 марта 2022";
  color: #453E34;
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
  right: -130px;
  top: -10px;
}
.container-one__intro .horisontal-slider .owl-dots button:hover, .container-one__intro .horisontal-slider .owl-dots button:focus {
  height: 4px;
  background-color: #3B3939;
}
.container-one__intro .dots-vertical-container {
  display: grid;
  grid-template-columns: 1fr;
  height: 140px;
  margin-top: 130px;
  position: relative;
}
.container-one__intro .dots-vertical-container button {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
  height: 35px;
  width: 2px;
  border-left: 5px;
  border-radius: unset;
  transition: 0.5s ease-in;
}
.container-one__intro .dots-vertical-container button:hover, .container-one__intro .dots-vertical-container button:focus {
  width: 4px;
  background-color: #fff;
}
.container-one__intro .dots-vertical-container button:first-child::before {
  content: "01";
  position: absolute;
  top: -25px;
  left: -8px;
  font-weight: 500;
  font-size: 20px;
}
.container-one__intro .dots-vertical-container button:last-child::after {
  content: "04";
  position: absolute;
  bottom: -25px;
  left: -8px;
  font-weight: 500;
  font-size: 20px;
}
.container-one__intro .nav-vertical-container {
  display: grid;
  grid-template-columns: 1fr;
  height: 140px;
  width: 14px;
  margin-top: 300px;
  margin-left: -5px;
}
.container-one__intro .nav-vertical-container button {
  border: none;
  box-shadow: none;
  height: 35px;
  width: 16px;
  background: none;
}
.container-one__intro .nav-vertical-container button:hover, .container-one__intro .nav-vertical-container button:focus {
  background: none;
}
.container-one__intro .nav-vertical-container button span {
  content: url(../img/svg/nav-button-owl.svg);
}
.container-one__intro .nav-vertical-container .owl-next span {
  content: url(../img/svg/owl-button-two.svg);
}
.container-one__intro .preview {
  position: absolute;
  z-index: 2;
  color: #fff;
  left: 15%;
  top: 25%;
  width: 21%;
  height: 30%;
}
.container-one__intro .preview h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.container-one__intro .preview p {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 30px;
}
.container-one__intro .preview button {
  background: #FF5C4E;
  box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
  border-radius: 250px;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 15px;
  transition: 1s;
  width: 220px;
  height: 55px;
}
.container-one__intro .preview button:focus, .container-one__intro .preview button:hover {
  background: none;
  border: 1px solid #FF5C4E;
  color: #6D6253;
  outline: none;
}
.container-one__intro .preview button:focus, .container-one__intro .preview button:hover {
  border: 1px solid #fff;
  color: #fff;
}

.container-two {
  padding-top: 120px;
  text-align: center;
  padding-bottom: 50px;
}

.container-two__header {
  margin-bottom: 75px;
}

.container-two__advantages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3%;
}

.container-two__card {
  box-shadow: 2px 2px 20px rgba(148, 132, 107, 0.15);
  padding: 0 37px;
  padding-bottom: 55px;
  padding-top: 44px;
}

.container-two__icon {
  width: 48px;
  height: 48px;
}

.container-two__heading {
  margin-top: 20px;
  font-weight: 500;
  font-size: 17px;
  color: #453E34;
}

.container-two__text {
  margin-top: 12px;
  font-weight: 300;
  font-size: 15px;
  color: #000;
}

.container-three {
  padding-top: 70px;
  background: linear-gradient(to bottom, white 50%, #627481 50%);
  text-align: center;
  z-index: 5;
  position: relative;
}
.container-three .container-three__header {
  margin-bottom: 80px;
}
.container-three .container-three__slider {
  position: unset;
  width: 70%;
}
.container-three .container-three__slider img {
  width: 100%;
  object-fit: cover;
}
.container-three .swiper-button-prev {
  left: 10%;
  top: 55%;
}
.container-three .swiper-button-prev::after {
  content: url(../img/svg/cont-arrLeft.svg);
}
.container-three .swiper-button-next {
  right: 10%;
  top: 55%;
}
.container-three .swiper-button-next::after {
  content: url(../img/svg/cont3-arrRight.svg);
}
.container-three .swiper-scrollbar {
  bottom: 240px;
  max-width: 290px;
  left: calc(50% - 145px);
  border-radius: unset;
  height: 4px;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: 2px 290px;
}
.container-three .swiper-scrollbar .swiper-scrollbar-drag {
  width: 4px;
  background-color: #fff;
  border-radius: unset;
}
.container-three .swiper-scrollbar::before {
  position: absolute;
  content: "01";
  font-weight: 500;
  font-size: 20px;
  left: -40px;
  top: -14px;
  color: #fff;
}
.container-three .swiper-scrollbar::after {
  position: absolute;
  content: "08";
  font-weight: 500;
  font-size: 20px;
  right: -40px;
  top: -14px;
  color: #fff;
}
.container-three button {
  background: #FF5C4E;
  box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
  border-radius: 250px;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 15px;
  transition: 1s;
  margin-top: 98px;
  margin-bottom: 130px;
  width: 240px;
  height: 60px;
}
.container-three button:focus, .container-three button:hover {
  background: none;
  border: 1px solid #FF5C4E;
  color: #6D6253;
  outline: none;
}
.container-three button:focus, .container-three button:hover {
  color: #fff;
}

.container-four {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 125px;
}

.container-four__header {
  margin-bottom: 75px;
}

.container-four__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4%;
  text-align: left;
}
.container-four__cards img {
  max-width: 100%;
}

.container-four__text {
  display: block;
  margin-top: 24px;
  font-weight: 300;
  font-size: 15px;
}

.container-four__red {
  color: #F53C52;
  font-weight: 500;
}

.container-five {
  padding: 120px 0;
  background: #F6F6F6;
  text-align: center;
}
.container-five p {
  font-size: 17px;
  color: #6D6253;
}

.container-five__calculaitor {
  display: grid;
  grid-template-columns: auto auto 25%;
}
.container-five__calculaitor .container-five__block-one {
  text-align: left;
  font-weight: 500;
  padding-right: 25%;
}
.container-five__calculaitor .container-five__block-one .container-five__rooms {
  padding-right: 36%;
  margin-bottom: 40px;
}
.container-five__calculaitor .container-five__block-one .container-five__rooms p {
  margin-bottom: 25px;
}
.container-five__calculaitor .container-five__block-one label {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #6D6253;
  border-radius: 50%;
  transition: 1s;
  text-align: center;
  padding-top: 4px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.container-five__calculaitor .container-five__with-fix, .container-five__calculaitor .container-five__without-fix, .container-five__calculaitor .container-five__other {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.container-five__calculaitor .container-five__with-fix .container-five__fix-text, .container-five__calculaitor .container-five__without-fix .container-five__fix-text, .container-five__calculaitor .container-five__other .container-five__fix-text {
  margin: 0;
}
.container-five__calculaitor .container-five__with-fix label, .container-five__calculaitor .container-five__without-fix label, .container-five__calculaitor .container-five__other label {
  margin: 0;
}
.container-five__calculaitor .container-five__with-fix button, .container-five__calculaitor .container-five__without-fix button, .container-five__calculaitor .container-five__other button {
  background: none;
  width: 32px;
  height: 32px;
  border: 1px solid #6D6253;
  border-radius: 50%;
  transition: 1s;
  box-shadow: none;
  margin: 0;
}
.container-five__calculaitor .container-five__with-fix button:hover, .container-five__calculaitor .container-five__without-fix button:hover, .container-five__calculaitor .container-five__other button:hover {
  background: none;
}
.container-five__calculaitor .container-five__fix {
  margin-bottom: 35px;
}
.container-five__calculaitor .container-five__other {
  margin-bottom: 35px;
}
.container-five__calculaitor .container-five__deadline {
  display: flex;
  margin-bottom: 40px;
}
.container-five__calculaitor .container-five__deadline p {
  margin: 0;
}
.container-five__calculaitor .container-five__deadline .container-five__deadline-text {
  margin-right: 8%;
}
.container-five__calculaitor .container-five__deadline .container-five__deadline-form {
  flex-basis: 65%;
}
.container-five__calculaitor .container-five__deadline .container-five__date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.container-five__calculaitor .container-five__deadline .container-five__date label {
  margin: 0;
  margin-top: -5px;
}
.container-five__calculaitor .container-five__deadline .container-five__date p {
  font-weight: normal;
  font-size: 15px;
}
.container-five__calculaitor .container-five__reset {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-five__calculaitor .container-five__reset button {
  background: none;
  border: none;
  box-shadow: none;
  width: 23px;
  height: 23px;
  margin: 0;
  margin-top: -15px;
  margin-right: 2%;
}
.container-five__calculaitor .container-five__reset button:hover {
  background: none;
}

.container-five__submit {
  background: #FF5C4E;
  box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
  border-radius: 250px;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 15px;
  transition: 1s;
  width: 240px;
  height: 60px;
}
.container-five__submit:focus, .container-five__submit:hover {
  background: none;
  border: 1px solid #FF5C4E;
  color: #6D6253;
  outline: none;
}
.container-five__submit:focus, .container-five__submit:hover {
  color: #6D6253;
}

input[type=radio] {
  display: none;
}

.container-five__header {
  margin-bottom: 55px;
}

input[type=radio]:checked + label {
  background-color: #6D6253;
  color: #fff;
}

.container-five__block-two {
  padding-right: 10%;
  text-align: center;
}
.container-five__block-two p {
  font-size: 15px;
  font-weight: 500;
}
.container-five__block-two .start, .container-five__block-two .end {
  color: rgba(59, 57, 57, 0.5);
  font-weight: normal;
}
.container-five__block-two .container-five__area-pharaph {
  display: block;
  text-align: left;
}

.container-five__area-range, .container-five__level-range, .container-five__cost-range {
  margin-bottom: 15px;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 365px;
  height: 3px;
  background: #6D6253;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.container-five__area-range:hover, .container-five__level-range:hover, .container-five__cost-range:hover {
  opacity: 1;
}
.container-five__area-range::-webkit-slider-thumb, .container-five__level-range::-webkit-slider-thumb, .container-five__cost-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: none;
  background: url(../img/svg/range-thumb.svg);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-five__area-range ::-moz-range-thumb, .container-five__level-range ::-moz-range-thumb, .container-five__cost-range ::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border: none;
  background: url(../img/svg/range-thumb.svg);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-five__area-range::before, .container-five__level-range::before, .container-five__cost-range::before {
  content: url(../img/svg/circle-range.svg);
  position: absolute;
  left: -7px;
  top: -8px;
}

.sub {
  display: flex;
  justify-content: space-between;
}

.container-five__summ {
  margin-top: 150px;
  text-align: left;
}
.container-five__summ .container-five__summ-but {
  width: 140px;
  height: 40px;
  background: #6D6253;
  border-radius: 200px;
  box-shadow: none;
  margin-right: 50px;
  color: #fff;
  border: none;
  transition: 0.5s;
}
.container-five__summ .container-five__summ-but:hover, .container-five__summ .container-five__summ-but:focus {
  background: none;
  border: 1px solid #6D6253;
  color: #6D6253;
}
.container-five__summ span {
  font-size: 15px;
  color: #6D6253;
  display: inline-block;
  border-bottom: 2px solid #6D6253;
  padding-bottom: 8px;
}

.container-five__block-three {
  text-align: left;
}
.container-five__block-three img {
  width: 100%;
}
.container-five__block-three .container-five__build-text {
  margin-bottom: 28px;
}

.container-five__submit {
  margin-top: 80px;
}

.container-six {
  background-color: #EAEAEA;
  color: #6D6253;
  padding: 58px 0;
}

.container-six__statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container-six__header {
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
}

.container-six__stat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 180px;
  row-gap: 25px;
}

.container-seven {
  background-color: #627481;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  align-items: center;
  font-weight: normal;
}

.container-seven__img {
  margin-right: 6%;
  width: 60%;
}

.container-seven__header {
  margin-bottom: 9%;
  font-size: 27px;
}

.container-seven__advantage {
  display: flex;
  margin-bottom: 8%;
  width: 70%;
}

.container-seven__icon {
  margin-right: 9%;
}

.container-seven__advantage_header {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
}

.container-seven__text {
  font-size: 15px;
  line-height: 18px;
}

.container-eight {
  padding-top: 120px;
  padding-bottom: 98px;
  color: #6D6253;
}
.container-eight h2, .container-eight h4 {
  color: #3B3B3B;
  white-space: nowrap;
}
.container-eight .container-eight__block-one {
  text-align: center;
  z-index: 1;
  padding-bottom: 200px;
}
.container-eight .container-eight__block-one .container-four__cards {
  row-gap: 172px;
}
.container-eight .container-eight__block-one .container-four__cards img {
  max-width: 100%;
}
.container-eight .container-eight__graffiti {
  display: flex;
  justify-content: start;
}
.container-eight .container-eight__graffiti p {
  padding: 0;
  font-weight: 300;
  margin-left: 58px;
}
.container-eight p {
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
}
.container-eight p span {
  color: #F53C52;
}
.container-eight .container-eight__block-two, .container-eight .container-eight__block-four {
  background: #EAEAEA;
  height: 870px;
  position: relative;
}
.container-eight .container-eight__block-two .center, .container-eight .container-eight__block-four .center {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "z z z . . a a a . . ." "z z z . . a a a b b ." ". . . . . a a a b b ." ". c c d d d d d e e e" ". c c d d d d d e e e" "f f f d d d d d e e e" "f f f d d d d d g g ." "f f f d d d d d g g ." "k k k k k i i i j j ." "k k k k k i i i j j ." "k k k k k i i i . . .";
  position: absolute;
  right: calc(50% - 683px);
  top: -170px;
}
.container-eight .container-eight__block-two .center img, .container-eight .container-eight__block-four .center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-eight .container-eight__block-two .center div:not(:last-child), .container-eight .container-eight__block-four .center div:not(:last-child) {
  padding: 12px;
}
.container-eight .container-eight__block-two .center .container-eight__graffiti, .container-eight .container-eight__block-four .center .container-eight__graffiti {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: z;
  align-self: center;
}
.container-eight .container-eight__block-two .center .bl1-img1, .container-eight .container-eight__block-four .center .bl1-img1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-area: a;
}
.container-eight .container-eight__block-two .center .bl1-img2, .container-eight .container-eight__block-four .center .bl1-img2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-area: b;
}
.container-eight .container-eight__block-two .center .bl1-img3, .container-eight .container-eight__block-four .center .bl1-img3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: c;
}
.container-eight .container-eight__block-two .center .bl1-img4, .container-eight .container-eight__block-four .center .bl1-img4 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-area: d;
}
.container-eight .container-eight__block-two .center .bl1-img5, .container-eight .container-eight__block-four .center .bl1-img5 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-area: e;
}
.container-eight .container-eight__block-two .center .bl1-img6, .container-eight .container-eight__block-four .center .bl1-img6 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: f;
}
.container-eight .container-eight__block-two .center .bl1-img7, .container-eight .container-eight__block-four .center .bl1-img7 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-area: g;
}
.container-eight .container-eight__block-two .center .bl1-img8, .container-eight .container-eight__block-four .center .bl1-img8 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: k;
}
.container-eight .container-eight__block-two .center .bl1-img9, .container-eight .container-eight__block-four .center .bl1-img9 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-area: i;
}
.container-eight .container-eight__block-two .center .button, .container-eight .container-eight__block-four .center .button {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-area: j;
  padding-top: 13%;
  padding-left: 13%;
}
.container-eight .container-eight__block-two .center .button button, .container-eight .container-eight__block-four .center .button button {
  background: #FF5C4E;
  box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
  border-radius: 250px;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 15px;
  transition: 1s;
  width: 96%;
  height: 60px;
}
.container-eight .container-eight__block-two .center .button button:focus, .container-eight .container-eight__block-two .center .button button:hover, .container-eight .container-eight__block-four .center .button button:focus, .container-eight .container-eight__block-four .center .button button:hover {
  background: none;
  border: 1px solid #FF5C4E;
  color: #6D6253;
  outline: none;
}
.container-eight .container-eight__block-three {
  padding-top: 345px;
  padding-bottom: 131px;
}
.container-eight .container-eight__block-four {
  background: #FAF6EB;
}

.container-nine {
  padding-top: 218px;
  text-align: center;
}

.container-nine__header {
  margin-bottom: 65px;
  color: #3B3B3B;
  font-size: 27px;
}

.container-nine__cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container-nine__card {
  flex-basis: 17%;
}

.container-nine__img {
  display: inline-block;
  width: 113px;
  height: 113px;
  border: 2px solid #6D6253;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
}

.img1 {
  background-image: url(../img/svg/cont9-img1.svg);
}

.img2 {
  background-image: url(../img/svg/cont9-img2.svg);
}

.img3 {
  background-image: url(../img/svg/cont9-img3.svg);
}

.img4 {
  background-image: url(../img/svg/cont9-img4.svg);
}

.container-nine__way {
  font-weight: 500;
  font-size: 20px;
  color: #6D6253;
}

.container-nine__woutoway {
  font-size: 15px;
  color: #6D6253;
}

.container-ten {
  padding-top: 115px;
  padding-bottom: 65px;
  text-align: center;
}
.container-ten img {
  width: 50%;
  margin-right: 34px;
  object-fit: cover;
}
.container-ten .card {
  border-radius: 0;
  border: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  text-align-last: left;
  color: #6D6253;
  width: 545px;
}
.container-ten .btn {
  text-decoration: none;
  color: #6D6253;
  font-size: 15px;
  width: 100%;
  height: 100%;
  padding: 25px 0;
  padding-left: 74px;
  padding-right: 30px;
}

.container-ten__header {
  font-weight: normal;
  font-size: 27px;
  color: #3B3B3B;
  margin-bottom: 70px;
  object-fit: cover;
}

.container-ten__info {
  display: flex;
}

.accordion > .card {
  width: auto;
}
.accordion > .card > .card-header {
  background: none;
  padding: 0;
  height: 100%;
}

.container-ten__collapse {
  width: 42%;
}

.container-ten__coll[aria-expanded=false]::after {
  content: "";
  background-image: url(../img/svg/up-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 13px;
  height: 8px;
}

.container-ten__coll[aria-expanded=true]::after {
  content: "";
  background-image: url(../img/svg/downloading.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 13px;
  height: 8px;
}

.container-ten__more {
  background: #FF5C4E;
  box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
  border-radius: 250px;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 15px;
  transition: 1s;
  width: 200px;
  height: 55px;
  margin-top: 125px;
}
.container-ten__more:focus, .container-ten__more:hover {
  background: none;
  border: 1px solid #FF5C4E;
  color: #6D6253;
  outline: none;
}

.container-sixteen {
  display: flex;
  background: #EAEAEA;
}
.container-sixteen h2 {
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
}
.container-sixteen .container-sixteen__form {
  color: #fff;
  background-image: url(../img/png/cont16-img.png);
  background-size: cover;
  font-weight: normal;
  padding-top: 125px;
  padding-bottom: 120px;
  padding-left: 14.5%;
  padding-right: 24%;
  width: 60%;
}
.container-sixteen .container-sixteen__form .container-sixteen__header-form {
  margin-bottom: 12px;
}
.container-sixteen .container-sixteen__form .container-sixteen__subheader-form {
  font-weight: 300;
  font-size: 15px;
  line-height: 140%;
  margin-bottom: 75px;
}
.container-sixteen .container-sixteen__form input {
  width: 420px;
  height: 64px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 300px;
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 18px;
  padding: 25px 62px;
  border: none;
  display: block;
  color: #fff;
}
.container-sixteen .container-sixteen__form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.container-sixteen .container-sixteen__form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.container-sixteen .container-sixteen__form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.container-sixteen .container-sixteen__form input:focus::-webkit-input-placeholder {
  color: transparent;
}
.container-sixteen .container-sixteen__form button {
  background: #FF5C4E;
  box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
  border-radius: 250px;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 15px;
  transition: 1s;
  width: 260px;
  height: 55px;
  margin-top: 20px;
}
.container-sixteen .container-sixteen__form button:focus, .container-sixteen .container-sixteen__form button:hover {
  background: none;
  border: 1px solid #FF5C4E;
  color: #6D6253;
  outline: none;
}
.container-sixteen .container-sixteen__form button:hover, .container-sixteen .container-sixteen__form button:focus {
  color: #fff;
}
.container-sixteen .container-sixteen__contacts {
  color: #3B3939;
  padding-top: 125px;
  padding-bottom: 120px;
  padding-left: 6.5%;
}
.container-sixteen .container-sixteen__contacts .container-sixteen__header {
  margin-bottom: 72px;
}
.container-sixteen .container-sixteen__contacts .container-sixteen__advantages .container-sixteen__advantage {
  display: flex;
  font-size: 15px;
}
.container-sixteen .container-sixteen__contacts h4 {
  font-weight: normal;
  font-size: 15px;
}
.container-sixteen .container-sixteen__contacts p {
  font-weight: 300;
}
.container-sixteen .container-sixteen__contacts img {
  width: 16px;
  height: 16px;
  margin-right: 25px;
}

.container-seventeen {
  padding-top: 105px;
  padding-bottom: 115px;
  text-align: center;
}
.container-seventeen h2.container-seventeen__header {
  margin-bottom: 75px;
}
.container-seventeen .container-seventeen__content {
  display: flex;
  text-align: left;
  align-items: center;
  font-size: 20px;
  color: #000;
  list-style-image: url(../img/svg/cont17-liststyle.svg);
}
.container-seventeen .container-seventeen__content img {
  width: 50%;
}
.container-seventeen .container-seventeen__content .list {
  margin-left: 12%;
  padding-top: 7%;
}
.container-seventeen .container-seventeen__content .list button.container-seventeen__button {
  background: #FF5C4E;
  box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
  border-radius: 250px;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 15px;
  transition: 1s;
  width: 280px;
  height: 60px;
  margin-top: 27%;
}
.container-seventeen .container-seventeen__content .list button.container-seventeen__button:focus, .container-seventeen .container-seventeen__content .list button.container-seventeen__button:hover {
  background: none;
  border: 1px solid #FF5C4E;
  color: #6D6253;
  outline: none;
}
.container-seventeen .container-seventeen__content .list button.container-seventeen__button:focus, .container-seventeen .container-seventeen__content .list button.container-seventeen__button:hover {
  color: #000;
}
.container-seventeen .container-seventeen__content .list li:not(:last-child) {
  margin-bottom: 45px;
}

.container-eighteen {
  position: relative;
}
.container-eighteen .map {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.container-eighteen .info {
  position: absolute;
  height: 100%;
  background: rgba(98, 116, 129, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  -moz-webkit-backdrop-filter: blur(25px);
  z-index: 2;
  padding: 6% 0;
  left: 20%;
  width: 22%;
}
.container-eighteen .info h2, .container-eighteen .info .text {
  margin-left: 15%;
  font-size: 15px;
}
.container-eighteen .info h2 {
  font-size: 27px;
  margin-bottom: 58px;
}
.container-eighteen .info .text-two {
  margin-top: 20px;
  margin-bottom: 46px;
}
.container-eighteen .info .text a {
  text-decoration: none;
  color: #3B3939;
}
.container-eighteen .info .li-one {
  margin-bottom: 17px;
  display: flex;
  align-items: center;
}
.container-eighteen .info .li-one::before {
  content: url(../img/svg/metro-1.svg);
  margin-right: 13px;
  align-self: flex-end;
  height: 30px;
}
.container-eighteen .info .li-two {
  margin-bottom: 38px;
  display: flex;
  align-items: center;
}
.container-eighteen .info .li-two::before {
  content: url(../img/svg/metro-2.svg);
  margin-right: 13px;
  align-self: flex-end;
  height: 30px;
}
.container-eighteen .info .link-a {
  text-decoration: none;
  color: #3B3939;
}

footer {
  background: #001525 url(../img/png/foot-bg.png);
  text-align: center;
  padding-top: 124px;
  padding-bottom: 125px;
  color: #fff;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer p, footer a {
  font-weight: 300;
  font-size: 12px;
  transition: 1s;
}
footer .center {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .block {
  text-align: left;
}
footer .block a {
  display: inline-block;
  margin-top: 40px;
}
footer .block a:hover, footer .block a:focus {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
footer .block .first-child {
  margin: 0;
}
footer h6, footer p {
  margin-left: 25px;
}
footer .contact {
  display: flex;
}
footer .contact span {
  display: inline-block;
  width: 11px;
}
footer .contact img {
  align-self: start;
  width: 11px;
  height: 11px;
}
footer .subfooter {
  display: flex;
  justify-content: space-around;
}
footer .subfooter button {
  border: none;
  box-shadow: none;
}
footer .subfooter button:hover, footer .subfooter button:focus {
  background: none;
}
footer button {
  background: none;
  box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
  border-radius: 250px;
  width: 260px;
  height: 55px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  transition: 1s;
  border: 1px solid #fff;
  margin-top: 20px;
}
footer button:focus, footer button:hover {
  background: #FF5C4E;
  border: none;
}

@media (max-width: 1400px) {
  .center {
    width: 95%;
  }

  .container-one__intro .horisontal-slider .owl-dots {
    width: 80%;
  }

  .container-six__statistics {
    justify-content: center;
  }

  .container-six__header {
    margin-bottom: 25px;
    margin-right: 30px;
  }

  .container-seven__advantage, .container-seven__header {
    margin-bottom: 8%;
    width: 95%;
  }

  .container-eight .container-eight__block-two .center, .container-eight .container-eight__block-four .center {
    right: 2.5%;
  }
  .container-eight .container-eight__block-two .center .container-eight__graffiti, .container-eight .container-eight__block-four .center .container-eight__graffiti {
    display: inline;
    text-align: left;
  }
  .container-eight .container-eight__block-two .center .container-eight__graffiti p, .container-eight .container-eight__block-four .center .container-eight__graffiti p {
    margin: 0;
  }

  .container-eight .container-eight__block-two .center, .container-eight .container-eight__block-four .center {
    grid-template-areas: "z z z . . a a a . . ." "z z z . . a a a b b ." ". . . . . a a a b b ." ". c c d d d d d e e e" ". c c d d d d d e e e" "f f f d d d d d e e e" "f f f d d d d d g g ." "f f f d d d d d g g ." "k k k k k i i i j j j" "k k k k k i i i j j j" "k k k k k i i i . . .";
  }

  .container-eighteen .info {
    left: 15%;
    width: 30%;
  }

  .container-eight .container-eight__block-two .center .container-eight__graffiti, .container-eight .container-eight__block-four .center .container-eight__graffiti {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img1, .container-eight .container-eight__block-four .center .bl1-img1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img2, .container-eight .container-eight__block-four .center .bl1-img2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 9;
    -ms-grid-column-span: 2;
  }

  .container-eight .container-eight__block-two .center .bl1-img3, .container-eight .container-eight__block-four .center .bl1-img3 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }

  .container-eight .container-eight__block-two .center .bl1-img4, .container-eight .container-eight__block-four .center .bl1-img4 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 5;
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
  }

  .container-eight .container-eight__block-two .center .bl1-img5, .container-eight .container-eight__block-four .center .bl1-img5 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img6, .container-eight .container-eight__block-four .center .bl1-img6 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img7, .container-eight .container-eight__block-four .center .bl1-img7 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    -ms-grid-column: 9;
    -ms-grid-column-span: 2;
  }

  .container-eight .container-eight__block-two .center .bl1-img8, .container-eight .container-eight__block-four .center .bl1-img8 {
    -ms-grid-row: 9;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  .container-eight .container-eight__block-two .center .bl1-img9, .container-eight .container-eight__block-four .center .bl1-img9 {
    -ms-grid-row: 9;
    -ms-grid-row-span: 3;
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .button, .container-eight .container-eight__block-four .center .button {
    -ms-grid-row: 9;
    -ms-grid-row-span: 2;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
  }
}
@media (max-width: 1150px) {
  .container-one__navigation {
    opacity: 0;
    margin: 0;
    width: 30%;
  }

  #menuToggle {
    display: block;
  }

  .container-one__intro .vertical-slider {
    width: 85%;
  }
  .container-one__intro .vertical-slider .horisontal-slider .owl-dots {
    width: 100%;
    padding-left: 0;
  }
  .container-one__intro .vertical-slider .horisontal-slider .owl-dots button {
    margin-top: 5%;
  }

  .container-one__intro .preview {
    width: 60%;
  }

  .container-two {
    padding-right: 10%;
    padding-left: 10%;
  }

  .container-two__advantages {
    grid-template-columns: 1fr 1fr;
  }

  .container-three .container-three__slider {
    width: 95%;
  }

  .swiper-button-next, .swiper-button-prev {
    display: none;
  }

  .container-four__cards {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 0;
  }
  .container-four__cards .container-four__card:not(:last-child) {
    margin-bottom: 55px;
  }
  .container-four__cards p {
    padding: 0;
  }

  .container-five__calculaitor {
    grid-template-columns: 1fr 1fr;
  }
  .container-five__calculaitor .container-five__deadline .container-five__deadline-text {
    margin-right: 11%;
  }
  .container-five__calculaitor .container-five__block-three {
    display: none;
  }

  .container-six__stat {
    column-gap: 20%;
  }

  .container-seven {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 40px;
  }
  .container-seven .container-seven__img {
    margin: 0;
    width: 100%;
  }
  .container-seven h2 {
    display: block;
    font-size: 20px;
    text-align: center;
  }

  .container-seven__advantage, .container-seven__header {
    margin-bottom: 7%;
  }
  .container-seven__advantage h3, .container-seven__header h3 {
    font-size: 15px;
  }

  .container-eight .container-eight__block-two .center, .container-eight .container-eight__block-four .center {
    grid-template-areas: "z z z a a a e e e . ." "z z z a a a e e e b b" ". . . a a a e e e b b" "f f f . d d d d d d d" "f f f . d d d d d d d" "f f f . d d d d d d d" "g g c c d d d d d d d" "g g c c d d d d d d d" "k k k k k i i i j j j" "k k k k k i i i j j j" "k k k k k i i i . . .";
  }

  .container-eight .container-eight__block-one .container-four__cards {
    row-gap: 0;
    margin-bottom: 170px;
  }

  .container-eight .container-eight__block-one {
    padding-bottom: 120px;
  }

  .container-eight .container-eight__block-two, .container-eight .container-eight__block-four {
    height: 690px;
  }

  .container-eight .container-eight__block-three {
    padding-top: 170px;
  }

  .container-nine__card {
    flex-basis: 45%;
    margin-bottom: 40px;
  }

  .container-ten__info {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 60px;
  }
  .container-ten__info img {
    width: 100%;
    margin: 0;
  }
  .container-ten__info .container-ten__collapse {
    width: 70%;
  }
  .container-ten__info .container-ten__more {
    display: none;
  }

  .container-sixteen .container-sixteen__form {
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 0;
    text-align: center;
  }

  .container-eighteen .info {
    left: 0;
    width: 40%;
  }

  footer .center .block {
    flex-basis: 50%;
    margin-bottom: 40px;
    padding-left: 10%;
  }
  footer .center .block a {
    margin-top: 20px;
  }
  footer .center .block:nth-child(2) {
    padding-left: 14%;
  }

  .container-eight .container-eight__block-two .center .container-eight__graffiti, .container-eight .container-eight__block-four .center .container-eight__graffiti {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img1, .container-eight .container-eight__block-four .center .bl1-img1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img2, .container-eight .container-eight__block-four .center .bl1-img2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 10;
    -ms-grid-column-span: 2;
  }

  .container-eight .container-eight__block-two .center .bl1-img3, .container-eight .container-eight__block-four .center .bl1-img3 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
  }

  .container-eight .container-eight__block-two .center .bl1-img4, .container-eight .container-eight__block-four .center .bl1-img4 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 5;
    -ms-grid-column: 5;
    -ms-grid-column-span: 7;
  }

  .container-eight .container-eight__block-two .center .bl1-img5, .container-eight .container-eight__block-four .center .bl1-img5 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img6, .container-eight .container-eight__block-four .center .bl1-img6 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img7, .container-eight .container-eight__block-four .center .bl1-img7 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .container-eight .container-eight__block-two .center .bl1-img8, .container-eight .container-eight__block-four .center .bl1-img8 {
    -ms-grid-row: 9;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  .container-eight .container-eight__block-two .center .bl1-img9, .container-eight .container-eight__block-four .center .bl1-img9 {
    -ms-grid-row: 9;
    -ms-grid-row-span: 3;
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .button, .container-eight .container-eight__block-four .center .button {
    -ms-grid-row: 9;
    -ms-grid-row-span: 2;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
  }
}
@media (max-width: 800px) {
  .container-one__intro .vertical-slider {
    width: 90%;
    margin-right: 3%;
  }

  .container-two {
    padding-right: 0;
    padding-left: 0;
  }

  .container-five__calculaitor {
    grid-template-columns: 1fr;
    row-gap: 40px;
    padding-left: 10%;
  }
  .container-five__calculaitor .container-five__deadline .container-five__deadline-text {
    margin-right: 16%;
  }
  .container-five__calculaitor .sub {
    justify-content: space-around;
  }

  .container-six__stat {
    grid-template-columns: 1fr;
  }

  .container-eight {
    padding-bottom: 0;
  }

  .container-nine {
    padding-top: 250px;
  }

  .container-eight .container-eight__block-two, .container-eight .container-eight__block-four {
    height: 1281px;
  }

  .container-eight .container-eight__block-two .center, .container-eight .container-eight__block-four .center {
    grid-template-areas: ". . . . z z z z . . ." "a a a a a a e e e e e" "a a a a a a e e e e e" "d d d d d d d d d d d" "d d d d d d d d d d d" "d d d d d d d d d d d" "d d d d d d d d d d d" "d d d d d d d d d d d" "k k k k k k k i i i i" "k k k k k k k i i i i" "k k k k k k k i i i i" "f f f f f c c c b b b" "f f f f f c c c b b b" "f f f f f c c c b b b" "g g g g g . . . . . ." "g g g g g . j j j j ." "g g g g g . . . . . .";
  }

  .container-seven__advantage {
    padding-left: 5%;
  }

  .container-ten__info .container-ten__collapse {
    width: 100%;
  }

  .container-sixteen {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container-sixteen .container-sixteen__form {
    width: 100%;
    padding: 80px 0;
  }
  .container-sixteen .container-sixteen__contacts {
    justify-self: center;
    padding: 50px 0;
  }

  .container-seventeen .container-seventeen__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .container-seventeen .container-seventeen__content img {
    width: 100%;
  }

  .container-eighteen .info {
    width: 50%;
  }
  .container-eighteen .info h2 {
    margin-left: 3%;
  }
  .container-eighteen .info .text {
    margin-left: 3%;
  }

  footer .center .block {
    padding-left: 0;
  }
  footer .center .block:nth-child(2) {
    padding-left: 8%;
  }
  footer .center .block button {
    width: 85%;
  }

  .container-eight .container-eight__block-two .center .container-eight__graffiti, .container-eight .container-eight__block-four .center .container-eight__graffiti {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
  }

  .container-eight .container-eight__block-two .center .bl1-img1, .container-eight .container-eight__block-four .center .bl1-img1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }

  .container-eight .container-eight__block-two .center .bl1-img2, .container-eight .container-eight__block-four .center .bl1-img2 {
    -ms-grid-row: 12;
    -ms-grid-row-span: 3;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img3, .container-eight .container-eight__block-four .center .bl1-img3 {
    -ms-grid-row: 12;
    -ms-grid-row-span: 3;
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img4, .container-eight .container-eight__block-four .center .bl1-img4 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
  }

  .container-eight .container-eight__block-two .center .bl1-img5, .container-eight .container-eight__block-four .center .bl1-img5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
  }

  .container-eight .container-eight__block-two .center .bl1-img6, .container-eight .container-eight__block-four .center .bl1-img6 {
    -ms-grid-row: 12;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  .container-eight .container-eight__block-two .center .bl1-img7, .container-eight .container-eight__block-four .center .bl1-img7 {
    -ms-grid-row: 15;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  .container-eight .container-eight__block-two .center .bl1-img8, .container-eight .container-eight__block-four .center .bl1-img8 {
    -ms-grid-row: 9;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
  }

  .container-eight .container-eight__block-two .center .bl1-img9, .container-eight .container-eight__block-four .center .bl1-img9 {
    -ms-grid-row: 9;
    -ms-grid-row-span: 3;
    -ms-grid-column: 8;
    -ms-grid-column-span: 4;
  }

  .container-eight .container-eight__block-two .center .button, .container-eight .container-eight__block-four .center .button {
    -ms-grid-row: 16;
    -ms-grid-row-span: 1;
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
  }
}
@media (max-width: 450px) {
  h2 {
    font-size: 20px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  p {
    font-size: 15px;
  }

  .container-one__header {
    flex-wrap: wrap;
  }
  .container-one__header .container-one__navigation {
    display: none;
  }
  .container-one__header .container-one__call-back {
    flex-basis: 100%;
    margin-top: 20px;
    background: #FF5C4E;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    transition: 1s;
    border: none;
  }
  .container-one__header .container-one__call-back:focus, .container-one__header .container-one__call-back:hover {
    background: none;
    border: 1px solid #232323;
    color: #232323;
  }

  .container-one__intro .horisontal-slider div {
    height: 600px;
  }

  .owl-carousel .owl-stage-outer {
    height: 600px;
  }

  .container-one__intro .preview {
    width: 75%;
    left: 3%;
  }
  .container-one__intro .preview h1 {
    font-size: 25px;
  }
  .container-one__intro .preview p {
    font-size: 15px;
  }
  .container-one__intro .preview button {
    width: 90%;
  }

  .container-one__intro .vertical-slider .horisontal-slider .owl-dots button {
    margin-top: 17%;
  }
  .container-one__intro .vertical-slider .horisontal-slider .owl-dots button:first-child::before {
    left: -65px;
    top: 20px;
  }
  .container-one__intro .vertical-slider .horisontal-slider .owl-dots button:last-child::after {
    right: -65px;
    top: 20px;
  }

  .container-two__advantages {
    grid-template-columns: 1fr;
  }
  .container-two__advantages .container-two__card {
    padding: 5%;
  }

  .container-three .swiper-scrollbar {
    left: 1%;
    max-width: none;
  }

  .container-three button {
    width: 100%;
  }

  .container-five__calculaitor {
    padding-left: 0;
  }
  .container-five__calculaitor .container-five__block-two {
    padding-right: 0;
  }
  .container-five__calculaitor .container-five__block-two .sub {
    justify-content: space-between;
  }

  .container-five__calculaitor .container-five__block-one {
    padding-right: 0;
  }

  .container-five__area-range, .container-five__level-range, .container-five__cost-range {
    width: 100%;
  }

  .container-five__summ {
    text-align: center;
    margin-top: 20px;
  }
  .container-five__summ .container-five__summ-but {
    margin: 0;
    margin-bottom: 10px;
    margin-right: 3%;
  }

  .container-six__header {
    margin-right: 0;
    text-align: center;
  }

  .container-eight .container-eight__block-two, .container-eight .container-eight__block-four {
    height: 2170px;
  }

  .container-eight .container-eight__block-two .center, .container-eight .container-eight__block-four .center {
    grid-template-areas: "z z z" "a a a" "b b b" "c c c" "d d d" "e e e" "f f f" "g g g" "k k k" "i i i" "j j j";
  }

  .container-eight .container-eight__block-two .center .button, .container-eight .container-eight__block-four .center .button {
    padding-left: 0;
    width: 100%;
  }

  .container-nine__cards .container-nine__card {
    flex-basis: 100%;
  }

  .container-ten .btn {
    padding-left: 5%;
  }

  .container-sixteen .container-sixteen__form input {
    width: 100%;
  }

  .container-seventeen .container-seventeen__content .list {
    font-size: 15px;
  }

  .container-seventeen .container-seventeen__content .list button.container-seventeen__button {
    width: 100%;
  }

  .container-eighteen .info {
    width: 100%;
  }

  footer .center .block {
    flex-basis: 100%;
    padding-left: 22%;
  }
  footer .center .block:nth-child(2) {
    padding-left: 22%;
    margin-bottom: 0;
  }
  footer .center .block:nth-child(3) a {
    margin-top: 0;
  }
  footer .center .block:last-child {
    padding-left: 10%;
    text-align: left;
  }

  .container-eight .container-eight__block-two .center .container-eight__graffiti, .container-eight .container-eight__block-four .center .container-eight__graffiti {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img1, .container-eight .container-eight__block-four .center .bl1-img1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img2, .container-eight .container-eight__block-four .center .bl1-img2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img3, .container-eight .container-eight__block-four .center .bl1-img3 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img4, .container-eight .container-eight__block-four .center .bl1-img4 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img5, .container-eight .container-eight__block-four .center .bl1-img5 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img6, .container-eight .container-eight__block-four .center .bl1-img6 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img7, .container-eight .container-eight__block-four .center .bl1-img7 {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img8, .container-eight .container-eight__block-four .center .bl1-img8 {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .bl1-img9, .container-eight .container-eight__block-four .center .bl1-img9 {
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .container-eight .container-eight__block-two .center .button, .container-eight .container-eight__block-four .center .button {
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}