* {
	padding: 0;
	margin: 0;
	bottom: 0;
	outline: 0;
	list-style-type: none;
}
button {
  &:focus{
    outline: none;
  }
  
}
h2 {
	font-weight: normal;
	font-size: 27px;
	line-height: 32px;
}
.wrapper {
	max-width: 1920px;
	font-family: 'Roboto', sans-serif;
	color: #3B3939;
	line-height: 140%;
	margin: auto;
}
.center {
	max-width: 1365px;
	margin: auto;
}
.container-one {
	background: linear-gradient(to right, white 50%, #627481 50%);
}
.container-one__navigation {
	margin-left: 107px;
}
.container-one__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
  padding-top: 22px;
  padding-bottom: 35px;
}
.container-one__link {
	text-decoration: none;
	margin-right: 30px;
	transition: 0.5s;
	line-height: 140%;
	padding-bottom: 4px;
}
.black-link {
	color: #3B3939;
}
.black-link:hover, .black-link:focus {
  font-weight: bold;
  color: #6D6253;
  border-bottom: 1px solid #6D6253;
  text-decoration: none;
}
.white-link {
	color: #fff;
}
.white-link:hover, .white-link:focus {
	font-weight: bold;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}
.container-one__call-back {
	width: 180px;
	height: 40px;
	border: 1px solid #FFFFFF;
	border-radius: 250px;
	font-size: 14px;
	color: #fff;
	background: none;
	transition: 0.5s;
}
.container-one__call-back_white-phone {
	margin-right: 9px;
}
.container-one__call-back:hover, .container-one__call-back:focus {
  background-color: #FF5C4E;
  color: #fff;
	border: none;
}
.container-one__intro {
  .courusel {
    button {
      color: #fff;
      &:hover, &:focus {
        background: none;
      }
    }
    max-width: 1650;
    display: flex;
    position: relative;
    z-index: 1;
    
  }
  .vertical-slider {
    width: 70%;
    z-index: 1;
    margin-right: 50px;
  }

  .horisontal-slider {
    position: relative;
    div {
      height: 925px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .img1 {
      background-image: url(../img/png/amur-intro1.png);
    }
    .img2 {
      background-image: url(../img/png/amur-intro2.png);
    }
    .img3 {
      background-image: url(../img/png/amur-intro3.png);
    }
    .img4 {
      background-image: url(../img/png/amur-intro-4.png);
    }
    .owl-dots {
      height: 118px;
      background: rgba(255, 255, 255, 0.44);
      backdrop-filter: blur(25px);
      position: absolute;
      width: 60%;
      padding-left: 17%;
      button {
        margin-top: 9%;
        position: relative;
        border: none;
        box-shadow: none;
        height: 2px;
        width: 35px;
        border-radius: 0px;
        background-color: rgba(61, 61, 61, 0.5);
        span {
          display: none;
        }
        &:first-child::before {
          position: absolute;
          content: '01 сентября 2020';
          color: #453E34;
          font-weight: 500;
          font-size: 15px;
          white-space: nowrap;
          left: -150px;
          top: -10px;
        }
        &:last-child::after {
          position: absolute;
          content: '20 марта 2022';
          color: #453E34;
          font-weight: 500;
          font-size: 15px;
          white-space: nowrap;
          right: -130px;
          top: -10px;
        }
        &:hover, &:focus {
          height: 4px;
          background-color: #3B3939;
        }
      }
    }
  }
  .dots-vertical-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 140px;
    margin-top: 130px;
    position: relative;
    button {
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      background-color: rgba(255, 255, 255, 0.5);
      height: 35px;
      width: 2px;
      border-left: 5px;
      border-radius: unset;
      transition: 0.5s ease-in;
      &:hover, &:focus {
        width: 4px;
        background-color: #fff;
      }
      &:first-child::before {
        content: '01';
        position: absolute;
        top: -25px;
        left: -8px;
        font-weight: 500;
        font-size: 20px;
      }
      &:last-child::after {
        content: '04';
        position: absolute;
        bottom: -25px;
        left: -8px;
        font-weight: 500;
        font-size: 20px;
      }
    }
  }
  .nav-vertical-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 140px;
    width: 14px;
    margin-top: 300px;
    margin-left: -5px;
    button {
      border: none;
      box-shadow: none;
      height: 35px;
      width: 16px;
      background: none;
      &:hover, &:focus {
        background: none;
      }
      span {
        content: url(../img/svg/nav-button-owl.svg);
      }
    }
    .owl-next {
      span {
        content: url(../img/svg/owl-button-two.svg);
        
      }
      
    }
  }
  .preview {
    position: absolute;
    z-index: 2;
    color: #fff;
    left: 15%;
    top: 25%;
    width: 21%;
    height: 30%;
    h1 {
      font-size: 40px;
      margin-bottom: 20px;
    }
    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      margin-bottom: 30px;
    }
    button {
      background: #FF5C4E;
            border-radius: 250px;
            width: 220px;
            height: 55px;
            color: #fff;
            font-weight: 500;
            font-size: 15px;
            transition: 1s;
            border: none;
            &:focus, &:hover {
              background: none;
              border: 1px solid #Fff;
            }
    }
    
  }
  
}
// CONTAINER-ONE

.container-two {
	padding-top: 120px;
	text-align: center;
}
.container-two__header {
	margin-bottom: 75px;
}
.container-two__advantages {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.container-two__card {
	box-shadow: 2px 2px 20px rgba(148, 132, 107, 0.15);
	padding: 0 37px;
	padding-bottom: 55px;
	padding-top: 44px;
	margin: 0 6%;
}
.container-two__icon {
	width: 48px;
	height: 48px;
}
.container-two__heading {
	margin-top: 20px;
	font-weight: 500;
	font-size: 17px;
	color: #453E34;
}
.container-two__text {
	margin-top: 12px;
	font-weight: 300;
	font-size: 15px;
	color: #000;
}

// .container-two

.container-three {
  padding-top: 120px;
  background: linear-gradient(to bottom, white 50%, #627481 50%);
  text-align: center;
  z-index: 5;
  position: relative;
  .container-three__header {
    margin-bottom: 80px;
  }
  .container-three__slider {
    position: unset;
  }
  .swiper-button-prev {
    left: 10%;
    top: 55%;
    &::after {
      content: url(../img/svg/cont-arrLeft.svg);
    }
  }
  .swiper-button-next {
    right: 10%;
    top: 55%;
    &::after {
      content: url(../img/svg/cont3-arrRight.svg);
    }
  }
  .swiper-scrollbar {
    bottom: 20%;
    max-width: 290px;
    left: calc(50% - 145px);
    border-radius: unset;
    height: 4px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 2px 290px;
    background-position: top 1px bottom 1px;
    .swiper-scrollbar-drag {
      width: 4px;
      background-color: #fff;
      border-radius: unset;
    }
    &::before {
      position: absolute;
      content: '01';
      font-weight: 500;
      font-size: 20px;
      left: -40px;
      top: -14px;
      color: #fff;
    }
    &::after {
      position: absolute;
      content: '08';
      font-weight: 500;
      font-size: 20px;
      right: -40px;
      top: -14px;
      color: #fff;
    }
  }
  button {
    margin-top: 98px;
    margin-bottom: 130px;
    background: #FF5C4E;
    border: none;
          box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
          border-radius: 250px;
          width: 240px;
          height: 60px;
          color: #fff;
          font-weight: 500;
          font-size: 15px;
          transition: 1s;
          &:focus, &:hover {
            background: none;
            border: 1px solid #FF5C4E;
            color: #fff;
          }
  }
}

// .container-three

.container-four {
	padding-top: 100px;
	text-align: center;
	padding-bottom: 125px;
}
.container-four__header {
	margin-bottom: 75px;
}
.container-four__cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	text-align: left;
}
.container-four__text {
	display: block;
	padding-right: 35%;
	margin-top: 24px;
	font-weight: 300;
	font-size: 15px;
}
.container-four__red {
	color: #F53C52;
	font-weight: 500;
}

// conteiner-four


.container-five {
	padding: 120px 0;
	background: #F6F6F6;
  text-align: center;
  p {
    font-size: 17px;
    color: #6D6253;
  }
  button {
    background-color: none;
  }
}
.cintainer-five__calculaitor {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
  .container-five__block-one {
    text-align: left;
    font-weight: 500;
    padding-right: 25%;
    .container-five__rooms {
      padding-right: 36%;
      margin-bottom: 40px;
      p {
        margin-bottom: 25px;

      }
    }
    label {
      display: inline-block;
      width: 32px;
      height: 32px;
      border: 1px solid #6D6253;
      border-radius: 50%;
      transition: 1s;
      text-align: center;
      padding-top: 4px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
  .container-five__with-fix, .container-five__without-fix, .container-five__other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    .container-five__fix-text {
      margin: 0;
    }
    label {
      margin: 0;
    }
    button {
      width: 32px;
      height: 32px;
      border: 1px solid #6D6253;
      border-radius: 50%;
      transition: 1s;
      box-shadow: none;
      margin: 0;
      &:hover{
        background: none;
      }
    }
  }
  
  .container-five__fix {
    margin-bottom: 35px;
  }
  .container-five__other {
    margin-bottom: 35px;
  }
  .container-five__deadline {
    display: flex;
    margin-bottom: 40px;
    p {
      margin: 0;
    }
    .cotainer-five__deadline-text {
      margin-right: 8%;
    }
    .container-five__deadline-form {
      flex-basis: 65%;
    }
    .container-five__date {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      label {
        margin: 0;
        margin-top: -5px;
      }
      p {
        font-weight: normal;
        font-size: 15px;
      }
    }
  }
  .container-five__reset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      border: none;
      box-shadow: none;
      width: 23px;
      height: 23px;
      margin: 0;
      margin-top: -15px;
      margin-right: 2%;
      &:hover {
        background: none;
      }
    }
  }

  
}
.container-five__submit {
  background: #FF5C4E;
          box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
          border-radius: 250px;
          width: 240px;
          height: 60px;
          color: #fff;
          font-weight: 500;
          font-size: 15px;
          transition: 1s;
          &:focus, &:hover {
            background: none;
            border: 1px solid #FF5C4E;
            color: #6D6253;
          }
}
input[type=radio] {
	display: none;
}
.container-five__header {
	margin-bottom: 55px;
}
input[type=radio]:checked {
	& + label {
		background-color: #6D6253;
		color: #fff;
	}
}
.container-five__block-two {
  padding-right: 10%;
  text-align: center;
  p {
    font-size: 15px;
    font-weight: 500;
  }
  .start, .end {
    color: rgba(59, 57, 57, 0.5);
    font-weight: normal;
  }
  .container-five__area-pharaph {
    display: block;
    text-align: left;
  }
}

.container-five__area-range, .container-five__level-range, .container-five__cost-range {
  
  margin-bottom: 15px;
    position: relative;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 365px; /* Full-width */
    height: 3px; /* Specified height */
    background: #6D6253; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    &:hover {
      opacity: 1;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: url(../img/svg/range-thumb.svg);
      border-radius: 50%; /* Green background */
      cursor: pointer; /* Cursor on hover */
  }
  ::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%; /* Slider handle height */
    background: url(../img/svg/range-thumb.svg); /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  &::before {
    content: url(../img/svg/circle-range.svg);
    position: absolute;
    left: -7px;
    top: -8px;
  }
}
.sub {
  display: flex;
  justify-content: space-between;
}
.container-five__summ {
  margin-top: 150px;
  text-align: left;
  .container-five__summ-but {
    width: 140px;
    height: 40px;
    background: #6D6253;
    border-radius: 200px;
    box-shadow: none;
    margin-right: 50px;
    color: #fff;
    &:hover, &:focus {
      background: none;
      border: 1px solid #6D6253;
      color: #6D6253;
    }
  }
  span {
    font-size: 15px;
    color: #6D6253;
    display: inline-block;
    border-bottom: 2px solid #6D6253;
    padding-bottom: 8px;
  }
}
.container-five__block-three {
  text-align: left;
  .container-five__build-text {
    margin-bottom: 28px;
  }
}


// container-five {


.container-six {
	background-color: #EAEAEA;
	color: #6D6253;
	padding: 58px 0;
}
.container-six__statistics {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.container-six__header {
	font-size: 20px;
	line-height: 23px;
	font-weight: normal;
}
.container-six__stat {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 180px;
	row-gap: 25px;
}
.container-seven {
	background-color: #627481;
	display: flex;
	justify-content: space-between;
	color: #FFFFFF;
	align-items: center;
	font-weight: normal;
}
.container-seven__img {
	margin-right: 6%;
	object-fit: cover;
}
.container-seven__header {
	margin-bottom: 70px;
	font-size: 27px;
}
.container-seven__advantage {
	display: flex;
	margin-bottom: 60px;
	width: 70%;
}
.container-seven__icon {
	margin-right: 9%;
}
.container-seven__advantage_header {
	margin-bottom: 15px;
	font-weight: 500;
	font-size: 20px;
}
.container-seven__text {
	font-size: 15px;
	line-height: 18px;
}

// CONTAINRE SEVEN

.container-eight {
  padding-top: 120px;
  padding-bottom: 98px;
  color: #6D6253;
  h2, h4 {
    color: #3B3B3B;
    white-space: nowrap;
  }
  .container-eight__block-one {
    text-align: center;
    z-index: 1;
    margin-bottom: 49px;
    .container-four__cards {
      row-gap: 172px;
    }
  }
  .container-eight__graffiti {
      display: flex;
      flex-grow: 1;
      p {
        padding: 0;
        font-weight: 300;
        margin-left: 58px;
        padding-right: 10%;

      }
      
  }
  p {
   display: block;
   padding-right: 43%;
   font-weight: normal;
   font-size: 20px;
   line-height: 140%;
   span {
    color: #F53C52;
   }
  }
  .container-eight__block-two, .container-eight__block-four {
    background: #EAEAEA;
    height: 730px;
    position: relative;
    .center {
      display: grid;
      grid-template-areas:". . . a . ."  
                          ". . . a b ."  
                          ". c d d e e"
                          "f f d d e e"
                          "f f d d g ."
                          "k k k i j .";

      position: absolute;
      right: calc(50% - 683px);
      top: -170px;
      img {
        width: 100%;
        height: 100%;
      }
      div:not(:last-child) {
        padding: 12px;
      }
      
      .bl1-img1 {
        grid-area: a;
      }
      .bl1-img2 {
        grid-area: b;
      }
      .bl1-img3 {
        grid-area: c;
      }
      .bl1-img4 {
        grid-area: d;
      }
      .bl1-img5 {
        grid-area: e;
      }
      .bl1-img6 {
        grid-area: f;
      }
      .bl1-img7 {
        grid-area: g;
      }
      .bl1-img8 {
        grid-area: k;
      }
      .bl1-img9 {
        grid-area: i;
      }
      .button {
        grid-area: j;
        padding-top: 40px;
        padding-left: 40px;
        button {
          background: #FF5C4E;
          box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
          border-radius: 250px;
          width: 240px;
          height: 60px;
          color: #fff;
          font-weight: 500;
          font-size: 15px;
          transition: 1s;
          &:focus, &:hover {
            background: none;
            border: 1px solid #FF5C4E;
            color: #6D6253;
          }
        }
      }
    }
  }
  .container-eight__block-three {
    padding-top: 280px;
    padding-bottom: 75px;
    padding-top: 280px;
    padding-bottom: 75px;
    padding-right: 40.8%;
    .container-eight__graffiti {
      max-width: 590px;
    }
  }
  .container-eight__block-four {
    background: #FAF6EB;
  }
}

// CONTAINER EIGHT
.container-nine {
	padding-top: 218px;
	text-align: center;
}
.container-nine__header {
	margin-bottom: 65px;
	color: #3B3B3B;
	font-size: 27px;
}
.container-nine__cards {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.container-nine__card {
	flex-basis: 17%;
}
.container-nine__img {
	display: inline-block;
	width: 113px;
	height: 113px;
	border: 2px solid #6D6253;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: contain;
}
.img1 {
	background-image: url(../img/svg/cont9-img1.svg);
}
.img2 {
	background-image: url(../img/svg/cont9-img2.svg);
}
.img3 {
	background-image: url(../img/svg/cont9-img3.svg);
}
.img4 {
	background-image: url(../img/svg/cont9-img4.svg);
}
.container-nine__way {
	font-weight: 500;
	font-size: 20px;
	color: #6D6253;
}
.container-nine__woutoway {
	font-size: 15px;
	color: #6D6253;
}
.container-ten {
	padding-top: 115px;
	text-align: center;
	img {
		max-width: 739px;
		margin-right: 34px;
		object-fit: cover;
	}
	.card {
		border-radius: 0;
		border: none;
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
		text-align-last: left;
		color: #6D6253;
		width: 545px;
	}
	.btn {
		text-decoration: none;
		color: #6D6253;
		font-size: 15px;
		width: 100%;
		height: 100%;
		padding: 25px 0;
		padding-left: 74px;
		padding-right: 30px;
	}
}
.container-ten__header {
	font-weight: normal;
	font-size: 27px;
	color: #3B3B3B;
	margin-bottom: 70px;
	object-fit: cover;
}
.container-ten__info {
	display: flex;
}
.accordion {
	& > .card {
		& > .card-header {
			background: none;
			padding: 0;
			height: 100%;
		}
	}
}
.container-ten__collapse {
	&.btn-link[aria-expanded="false"]::after {
		content: '';
		background-image: url(../img/svg/up-arrow.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 13px;
		height: 8px;
	}
	&.btn-link[aria-expanded="true"]::after {
		content: '';
		background-image: url(../img/svg/downloading.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 13px;
		height: 8px;
	}
}
.container-ten__more {
	background: #FF5C4E;
	box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
	border-radius: 250px;
	width: 200px;
	height: 55px;
	color: #fff;
	font-weight: 500;
	font-size: 15px;
	margin-top: 125px;
  transition: 1s;
  
}
.container-ten__more:hover, .container-ten__more:focus {
	background: none;
	border: 1px solid #FF5C4E;
	color: #6D6253;
	outline: none;
}

.container-sixteen {
  display: flex;
  background: #EAEAEA;
  h2 {
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
  }
  .container-sixteen__form {
    color: #fff;
    background-image: url(../img/png/cont16-img.png);
    background-size: cover;
    font-weight: normal;
    padding-top: 125px;
    padding-bottom: 120px;
    padding-left: 14.5%;
    padding-right: 24%;
    .container-sixteen__header-form {
      margin-bottom: 12px;
    }
    .container-sixteen__subheader-form {
      font-weight: 300;
      font-size: 15px;
      line-height: 140%;
      margin-bottom: 75px;
    }
    input {
      width: 420px;
      height: 64px;
      background: rgba(255, 255, 255, 0.3);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      border-radius: 300px;
      margin-bottom: 12px;
      font-size: 15px;
      line-height: 18px;
      padding: 25px 62px;
      border: none;
      display: block;
      color: #fff;
      &:focus::-webkit-input-placeholder {color: transparent}
    }
    button {
      background: #FF5C4E;
          box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
          border-radius: 250px;
          width: 260px;
          height: 55px;
          color: #fff;
          font-weight: 500;
          font-size: 15px;
          transition: 1s;
          border: none;
          margin-top: 20px;
          &:focus, &:hover {
            background: none;
            border: 1px solid #FF5C4E;
          }

    }

  }
  .container-sixteen__contacts {
    color: #3B3939;
    padding-top: 125px;
    padding-bottom: 120px;
    padding-left: 6.5%;
    .container-sixteen__header {
      margin-bottom: 72px;
    }
    .container-sixteen__advantages {

      .container-sixteen__advantage {
        display: flex;
        font-size: 15px;
      }
    }
    h4 {
      font-weight: normal;
      font-size: 15px;
    }
    p {
      font-weight: 300;
    }
    img {
      width: 16px;
      height: 16px;
      margin-right: 25px;
    }


  }
}


.container-seventeen {
  padding-top: 105px;
  padding-bottom: 115px;
  text-align: center;
  h2.container-seventeen__header {
    margin-bottom: 75px;
  }
  .container-seventeen__content {
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 20px;
    color: #000;
    list-style-image: url(../img/svg/cont17-liststyle.svg);
    .list {
      margin-left: 12%;
      padding-top: 7%;
      button.container-seventeen__button {
        background: #FF5C4E;
            box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
            border-radius: 250px;
            width: 280px;
            height: 60px;
            color: #fff;
            font-weight: 500;
            font-size: 15px;
            transition: 1s;
            border: none;
            margin-top: 27%;
            &:focus, &:hover {
              background: none;
              border: 1px solid #FF5C4E;
              color: #000;
            }
    }
    li:not(:last-child) {
      margin-bottom: 45px;
    }
    
    
    }
  } 
}


.container-eighteen {
  position: relative;
  .map {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .info {
    position: absolute;
    height: 100%;
    background: rgba(98, 116, 129, 0.2);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    -moz-webkit-backdrop-filter: blur(25px);
    z-index: 2;
    padding: 6% 0;
    left: 20%;
    width: 22%;
    h2, .text {
      margin-left: 15%;
      font-size: 15px;
    }
    h2 {
      font-size: 27px;
      margin-bottom: 58px;
    }
    .text-two {
      margin-bottom: 46px;
    }
    .li-one {
      margin-bottom: 17px;
      display: flex;
      align-items: center;
      
      &::before {
        content: url(../img/svg/metro-1.svg);
        margin-right: 13px;
        align-self: flex-end;
        height: 30px;
      }
    }
    .li-two {
      margin-bottom: 38px;
      display: flex;
      align-items: center;
      
      &::before {
        content: url(../img/svg/metro-2.svg);
        margin-right: 13px;
        align-self: flex-end;
        height: 30px;
      }
    }
  
      
      
      .link-a {
        text-decoration: none;
        color:#3B3939;
      }
    }
  }



  footer {
    background: #001525 url(../img/png/foot-bg.png);
    text-align: center;
    padding-top: 124px;
    padding-bottom: 125px;
    color: #fff;
    a {
      text-decoration: none;
      color: #fff;
    }
    p, a {
      font-weight: 300;
      font-size: 12px;
      transition: 1s;
    }
    .center{
    display: flex;
    justify-content: space-around;
    }
    .block {
      text-align: left;
      
      a {
        display: inline-block;
        margin-top: 40px;
        &:hover, &:focus {
          text-decoration: none;
          color: #fff;
          font-weight: bold;
        }
      }
      .first-child {
        margin: 0;
      }
    }
    h6, p {
      margin-left: 25px;
    }
    .contact {
      display: flex;
      span {
        display: inline-block;
        width: 11px;
      }
      img {
        align-self: start;
      }
    }
    .subfooter {
      display: flex;
      justify-content: space-around;
      
      }
      button {
        background: none;
          box-shadow: 4px 4px 4px rgba(255, 174, 167, 0.25);
          border-radius: 250px;
          width: 260px;
          height: 55px;
          color: #fff;
          font-weight: 500;
          font-size: 15px;
          transition: 1s;
          border: 1px solid #fff;
          margin-top: 20px;
          &:focus, &:hover {
            background: #FF5C4E;
            border: none;
          }
    }
    }
   
  